footer{
    background: rgba(0, 0, 0, 0.76);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    padding: 40px 0;
    .logo-footer{
        display: flex;
        width: 10rem;
        margin: 20px 0;
    }
    .string-footer{
        @include fontTwo;
        font-size: 1.3em;
        text-decoration: none;
        color: white;
        margin: 0px;
    }
}
.footer{
    margin: 0;
    padding: 0;
    height: fit-content;
    bottom: 0;
}