.container-group__loader {
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    @include column-center-center;
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: opacity 1.5s ease-in-out, visibility 1.5s ease-in-out;
    z-index: 150;
    .container {
        width: 60vw;
        height: 60vw;
        max-height: 400px;
        max-width: 400px;
        position: relative;
        top: 0vh;
        animation: loading 5s cubic-bezier(0.81, -0.2, 0.79, 0.13) forwards;
        .loader {
            .contain-logo__loader {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 100%;
                height: 100%;
                .logo-loader {
                    display: flex;
                    width: 75%;
                }
            }
        }
        .loader:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border-bottom: 0 solid rgba(255, 255, 255, 0.0196078431);
            filter: blur(3px);
            animation: 2s rotate linear infinite;
            background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
            box-shadow: 9px 9px 69px #565656, -9px -9px 69px #ffffff;
        }

    }
    .name-title{
        @include center-center;
        width: 100%;
        margin-top: 50px;
        font-size: 4rem;
        background: #657076;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.45));
        animation: deconstructed2 2s linear forwards;
    }
    .deconstructed{
        color: darkgoldenrod;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 20px;
        animation: deconstructed1 2s linear forwards;
    }
}
.container-group__loader.dissolve{
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 500px) {
    .container-group__loader{
        .name-title{
            font-size: 2.3rem;
        }
        .deconstructed{
            font-size: 1.2rem;
        }
    }
}
