.contain-page_form{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow: auto;
    .group-header__form{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        max-height: 54rem;
        justify-content: center;
        align-items: center;
        .logo-header{
            display: flex;
            width: 20rem;
        }
        .name-title-form{
            font-size: 4rem;
            color: #404040;
            margin-bottom: 0;
        }
        .text-form{
            font-size: 2.5rem;
            margin-top: 0;
            color: #8C8C8C;
        }
    }
    .main-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        max-height: 54rem;
        .card-form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: fit-content;
            background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
            box-shadow:  14px 14px 28px #9a9a9a,
                        -14px -14px 28px #ffffff;
            border: none;
            border-radius: 3rem;
            .group-input{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 15px 0;
                .obligation{
                    text-align: end;
                    font-size: 1rem;
                    margin: 3px 0;
                }
                .obligation__name, .obligation__mail, .obligation__number, .obligation__message{
                    margin: 0;
                    color: #a23e3e;
                    text-align: end;
                    font-size: 1rem;
                }
            }
            .ball{
                display: flex;
                height: 300px;
                width: 300px;
                border-radius: 50%;
                margin: 40px 0;
                background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
                box-shadow: inset 5px 5px 10px #747474, inset -5px -5px 10px #ffffff;
                .valid-ico{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-size: 15rem;
                    color: #46a23e;
                    text-shadow:     0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
                    0 7px 0 hsl(174,5%,61%),
                    0 8px 0 hsl(174,5%,60%),
                    0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
                    animation: icoBall 0.5s ease-in-out forwards;
                    transition: transform 0.5s ease-in-out;
                }
                .noValid-ico{
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    font-size: 15rem;
                    color: #a23e3e;
                    text-shadow:     0 1px 0 hsl(174,5%,80%),
                    0 2px 0 hsl(174,5%,75%),
                    0 3px 0 hsl(174,5%,70%),
                    0 4px 0 hsl(174,5%,66%),
                    0 5px 0 hsl(174,5%,64%),
                    0 6px 0 hsl(174,5%,62%),
                    0 7px 0 hsl(174,5%,61%),
                    0 8px 0 hsl(174,5%,60%),
                    0 0 5px rgba(0,0,0,.05),
                    0 1px 3px rgba(0,0,0,.2),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
                    animation: icoBall 0.5s ease-in-out forwards;
                    transition: transform 0.5s ease-in-out;
                }
            }
            h2{
                margin: 0;
            }
            p{
                margin-bottom: 50px;
                font-size: 1.2em;
            }
        }
    }
}
input, textarea{
    height: 40px;
    font-size: 1.2rem;
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 10px;
}

.input{
    display: flex;
    animation: widthUp 1s ease-in-out forwards;
    box-shadow: inset 5px 5px 10px #747474,
            inset -5px -5px 10px #ffffff;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}
label{
    font-size: 1.2rem;
    color: #404040;
}
textarea{
    min-height: 120px;
    resize: none;
    overflow-y: auto;
}
.btn-send{
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 2em;
    border: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
    box-shadow:  5px 5px 14px #858585,
                 -5px -5px 14px #ffffff;
    color: darkgoldenrod;
    font-size: 1.3rem;
    margin: 30px 0;
    cursor: pointer;
    transition: box-shadow 2s ease-in-out, color 2s ease-in-out;
}
.btn-nosend{
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 2em;
    border: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
    box-shadow:  none;
    color: darkgrey;
    font-size: 1.3rem;
    margin: 30px 0;
    cursor:no-drop;
    transition: box-shadow 2s ease-in-out, color 2s ease-in-out;
}
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}
input::-o-inner-spin-button,
input::-o-outer-spin-button { 
	-o-appearance: none;
	margin:0
}
@media screen and (max-width: 1300px) {
    .contain-page_form{
        flex-direction: column;
        height: auto;
        align-items: center;
        .group-header__form{
            .logo-header{
                width: 17rem;
                margin-top: 30px;
            }
            .name-title-form{
                font-size: 3rem;
            }
            .text-form{
                font-size: 1.9rem;
            }
        }
        .main-form{
            width: 100%;
            max-width: 800px;
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width: 800px) {
    .contain-page_form{
        flex-direction: column;
        height: auto;
        align-items: center;
        .group-header__form{
            width: 100%;
            .logo-header{
                width: 17rem;
                margin-top: 30px;
            }
            .name-title-form{
                font-size: 2.5rem;
            }
            .text-form{
                font-size: 1.3rem;
            }
        }
        .main-form{
            width: 100%;
            max-width: 800px;
            margin-bottom: 40px;
            .card-form{
                width: 100%;
                border-radius: 0;
            }
        }
    }
    .obligation{
        font-size: 10px;
    }
}