.contain-page_form{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow: auto;
    .group-header__form{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        max-height: 54rem;
        justify-content: center;
        align-items: center;
        .logo-header{
            display: flex;
            width: 20rem;
        }
        .name-title-form{
            font-size: 4rem;
            color: #404040;
            margin-bottom: 0;
        }
        .text-form{
            font-size: 2.5rem;
            margin-top: 0;
            color: #8C8C8C;
        }
    }
    .main-form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        max-height: 54rem;
        .card-form{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 85%;
            height: fit-content;
            background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
            box-shadow:  14px 14px 28px #9a9a9a,
                        -14px -14px 28px #ffffff;
            border: none;
            border-radius: 3rem;
            .group-input{
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 15px 0;
                .style-input__file{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;
                    height: auto;
                    background: #d6d6d6;
                    box-shadow: inset 14px 14px 28px #9a9a9a, inset -14px -14px 28px #ffffff;
                    border-radius: 10px;
                    .preview-all__file{
                        max-height: 169px;
                        overflow-x: auto;
                    }
                    .agencement-btn{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 10px;
                        margin: 30px 0;
                        .btn-file, .fastyle{
                            display: flex;
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
                            box-shadow:  5px 5px 14px #858585,
                            -5px -5px 14px #ffffff;
                            color: darkgoldenrod;
                        }
                        .btn-file{
                            font-size: 3rem;
                        }
                        .fastyle{
                            font-size: 1.2rem;
                            order: 3;
                        }
                        .definition{
                            font-size: 1.2rem;
                        }
                        #file{
                            display: none;
                        }
                    }
                    .all-file__preview{
                        display: flex;
                        width: 100%;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: solid 2.5px darkgoldenrod;
                        margin-bottom: 10px;
                        .picture-preview{
                            display: flex;
                            height: 40px;
                            width: 40px;
                            object-fit: cover;
                        }
                        .name-preview{
                            font-size: 1.3rem;
                        }
                    }
                }
                .obligation{
                    text-align: end;
                    margin: 3px 0;
                }
            }
        }
    }
}
input, textarea{
    height: 40px;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    border-radius: 10px;
}
.input{
    box-shadow: inset 5px 5px 10px #747474,
            inset -5px -5px 10px #ffffff;
    border-radius: 10px;
}
label{
    font-size: 1.2rem;
    color: #404040;
}
textarea{
    min-height: 120px;
    resize: none;
    overflow-y: auto;
}
.btn-send{
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 2em;
    border: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
    box-shadow:  5px 5px 14px #858585,
                 -5px -5px 14px #ffffff;
    color: darkgoldenrod;
    font-size: 1.3rem;
    margin: 30px 0;
    cursor: pointer;
}
@media screen and (max-width: 1300px) {
    .contain-page_form{
        flex-direction: column;
        height: auto;
        align-items: center;
        .group-header__form{
            .logo-header{
                width: 17rem;
                margin-top: 30px;
            }
            .name-title-form{
                font-size: 3rem;
            }
            .text-form{
                font-size: 1.9rem;
            }
        }
        .main-form{
            width: 100%;
            max-width: 800px;
            margin-bottom: 40px;
        }
    }
}
@media screen and (max-width: 800px) {
    .contain-page_form{
        flex-direction: column;
        height: auto;
        align-items: center;
        .group-header__form{
            width: 100%;
            .logo-header{
                width: 17rem;
                margin-top: 30px;
            }
            .name-title-form{
                font-size: 2.5rem;
            }
            .text-form{
                font-size: 1.3rem;
            }
        }
        .main-form{
            width: 100%;
            max-width: 800px;
            margin-bottom: 40px;
            .card-form{
                width: 100%;
                border-radius: 0;
            }
        }
    }
    .obligation{
        font-size: 10px;
    }
}