.group-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .card-service{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        width: 80%;
        max-width: 1300px;
        min-width: 300px;
        border-radius: 2em;
        margin-bottom: 60px;
        background: linear-gradient(145deg, #f0f0f0, #cacaca);
        box-shadow:  7px 7px 29px #afafaf,
                    -7px -7px 29px #ffffff;
        backdrop-filter: contrast(0.5);
        -webkit-backdrop-filter: contrast(0.5);
        z-index: 0;
        .service{
            @include fontTwo;
            font-size: 1.5rem;
            padding: 1rem;
            margin: 0;
            overflow: hidden;
            color: darkgoldenrod;
        }
        .string-description{
            @include fontTwo;
            font-size: 1.3rem;
            text-align: justify;
            padding: 0 1rem;
            margin: 0;
        }
        .container-btn{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2rem;
                background: linear-gradient(145deg, #e5e5e5, #c1c1c1);
                box-shadow:  5px 5px 14px #858585,
                            -5px -5px 14px #ffffff;
                color: darkgoldenrod;
                font-size: 1.2rem;
                width: 100%;
                max-width: 180px;
                border-radius: 2em;
                padding: 10px;
                z-index: 100;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1)
                }
                &:active{
                    transform: scale(0.9);
                    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}
.text{
    display: flex;
    max-width: 1300px;
    font-size: 1.3rem;
    text-align: center;
    margin: 0px;
    color: #8C8C8C;
}
.service::before{
    content: "";
    border-bottom: #404040 solid;
    position: absolute;
    top: 3rem;
    width: 5%;
    height: 2px;
    transform: scaleY(1.5);
    transition: transform 2s ease-in-out;
}
@media screen and (max-width: 1300px) {
    .group-service{
        .card-service{
            width: 95%;
            .service{
                font-size: 1.5rem;
            }
            .string-description{
                font-size: 1.3rem;
            }
        }
    }
    .text{
        width: 90%;
        font-size: 1.4rem;
    }
    .service::before{
        top: 3rem;       
    }
}
@media screen and (max-width: 500px) {
    .group-service{
        .card-service{
            width: 100%;
            border: none;
            .service{
                font-size: 1.2rem;
            }
            .string-description{
                font-size: 1.1rem;
            }
        }
    }
    .text{
        width: 90%;
        font-size: 1.1rem;
    }
    .service::before{
        top: 0;
        width: 0;       
    }
}
