.group-header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    .logo-header{
        display: flex;
        width: 20rem;
        margin-top: 60px;
    }
    .name-title-header{
        @include fontOne;
        color: #404040;
        margin-bottom: 0px;
    }
    .text-head{
        display: flex;
        max-width: 1300px;
        font-size: 2.2rem;
        text-align: center;
        margin: 0px;
        margin-bottom: 30px;
        color: #8C8C8C;
    }
}

@media screen and (max-width: 1300px) {
    .group-header{
        .text-head{
            font-size: 1.4em;
            width: 90%;
        }
        .name-title-header{
            margin-bottom: 0px;
        }
    }
}
@media screen and (max-width: 500px) {
    .group-header{
        .logo-header{
            width: 10rem;
            margin-top: 30px;
        }
        .name-title-header{
            font-size: 2rem;
            margin: 30px 0;
            margin-bottom: 0px;
        }
        .text-head{
            font-size: 1rem;
            width: 90%;
        }
    }
}
