.group-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .card-service{
        display: flex;
        flex-direction: column;
        align-content: space-around;
        width: 80%;
        max-width: 1300px;
        min-width: 300px;
        border-radius: 2em;
        margin-bottom: 60px;
        background: #BFAF8F;
        box-shadow: 0 8px 32px 0 rgb(0 0 0 / 59%);
        backdrop-filter: contrast(0.5);
        -webkit-backdrop-filter: contrast(0.5);
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        z-index: 0;
        .service{
            @include fontTwo;
            font-size: 2rem;
            padding: 1rem;
            margin: 0;
            overflow: hidden;
            color: #414c6d;
        }
        .string-description{
            @include fontTwo;
            font-size: 1.6rem;
            text-align: justify;
            padding: 0 1rem;
            margin: 0;
        }
        .container-btn{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18rem;
                height: 3rem;
                background: #272D40;
                color: #F2F2F2;
                font-size: 2rem;
                border-radius: 2em;
                padding: 10px;
                z-index: 100;
                cursor: pointer;
                box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.8);
                &:hover{
                    box-shadow: 4px 6px 6px 1px rgba(0, 0, 0, 0.5);
                    transform: scale(1.1)
                }
                &:active{
                    transform: scale(0.9);
                    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}
.text{
    display: flex;
    max-width: 1300px;
    font-size: 2.2rem;
    text-align: center;
    margin: 0px;
    color: black;
}
.service::before{
    content: "";
    border-bottom: #414c6d solid;
    position: absolute;
    top: 4rem;
    width: 5%;
    height: 2px;
    transform: scaleY(1.5);
    transition: transform 2s ease-in-out;
}
@media screen and (max-width: 1300px) {
    .group-service{
        .card-service{
            width: 100%;
            .service{
                font-size: 1.5rem;
            }
            .string-description{
                font-size: 1.3rem;
            }
        }
    }
    .text{
        width: 90%;
        font-size: 1.4rem;
    }
    .service::before{
        top: 3rem;       
    }
}
@media screen and (max-width: 500px) {
    .group-service{
        .card-service{
            width: 100%;
            border: none;
            .service{
                font-size: 1.2rem;
                color: white;
            }
            .string-description{
                font-size: 1.1rem;
            }
        }
    }
    .text{
        width: 90%;
        font-size: 1.1rem;
    }
    .service::before{
        top: 0;
        width: 0;       
    }
}
